// - - - - - - - - - - - - - - - - - - -
// - - base
// project defaults for base elements - h1-h6, p, a, etc.

body {
    background: $bg;
    font-family: "freight-sans-pro", sans-serif;
    font-size: 0.875em;
    line-height: 1.75;
    min-height: 100vh;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;

    @media screen and (min-width: 480px) {
        font-size: 1rem;
    }
}
