// - - - - - - - - - - - - - - - - - - -
// - - typography
// global typography styles

h2#ux-and-ui-design {
    color: $goldenrod;
}

h2#content-management {
    color: $teal;
}

h2#web-development {
    color: $red;
}

h2#ecommerce {
    color: $dodger-blue;
}
