  <footer class="application-footer">
    <div class="footer-content">
      <ul class="navigation-groups">
        <li class="navigation-group">
          <h3 class="navigation-group-title">About</h3> 
          <ul>
            <li><a href="#">Story</a></li>
            <li><a href="#">Purpose</a></li>
          </ul>
        </li>
        <li class="navigation-group">
          <h3 class="navigation-group-title">Connect</h3>
          <ul>
            <li><a href="//silentpost.co/blog">Blog</a></li>
            <li><a href="//twitter.com/slntpst">Twitter</a></li>
            <li><a href="//github.com/silentpost/">GitHub</a></li>
          </ul>
        </li>
        <li class="navigation-group">
          <h3 class="navigation-group-title">Work with us</h3>
          <ul>
            <li><a href="#">Hire us</a></li>
            <li><a href="#">hello@silentpost.co</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="copyright">
      <strong>&copy; silentpost, llc.</strong>
    </div>
  </footer>
</body>
</html>
