{% assign timestamp = site.time | date: "%Y%m%d%H%M%S" %}

<!doctype html>
<html lang="en">
<head>
  {% include shared/_meta.html %}
  {% include shared/_polyfills.html %}
  <link rel="alternate"
        type="application/rss+xml"
        title="{{ site.title }}"
        href="{{ site.url }}/atom.xml">
  <link rel="stylesheet"
        href="{{ base }}/css/style.css?t={{ timestamp }}">
</head>
<body{% if page.slug %} class="{{ page.slug }}"{% elsif page.title %} class="{{
page.title | slugify }}"{% endif %}>

	<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5TK6RM"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-5TK6RM');</script>
	<!-- End Google Tag Manager -->

  <header class="application-header">
    <nav class="application-nav">
      <a href="#">silentpost</a>
    </nav>
  </header>
