button,
.button {
    background: $dodger-blue;
    border: 0;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    margin: 3rem 0;
    padding: 1rem 1.5rem;
    text-align: center;
    transition: box-shadow 300ms ease-in-out;

    &:hover {
        border: none;
        box-shadow: 0 4px 8px rgba($text, 0.2);
    }
}
